@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color:#000;
    min-height: 150vh;

}

body.active {
    min-height: 125vh;
}

/* ---------------------------- H E A D E R ------------------------------*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 1000000;
    padding: 40px 100px;
    transition: 0.5s;

}
header.sticky { 
    padding: 15px 100px;
    background-color: rgba(255,255,255, 0.7);
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    position: relative;
    display : flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500px;
    transition: 0.5s;
}
header ul li a:hover {
    text-decoration: underline;
}
header.lot {
    background-color: #fff;
}
header.sticky ul li a, header.sticky .logo {
    color: #000;
    font-size: 20px;

}
/* ---------------------------- B A N N E R ------------------------------*/
.banner {
    position: relative;
    width: 100%;
    background-color: #fffbee;
    min-height: 10vh;
}
/* ---------------------------- title section ------------------------------*/
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    background-color: #fffbee;
}
.title .souj h1 {
    margin-left: auto;
    margin-right: auto;
}

/* -----*
.title h2 {
   position: relative;
   font-size: 5vw;
   color: #252839;
   -webkit-text-stroke: 0.3vw #383d52;
   text-transform: uppercase;
}
.title h2::before {
   content: attr(data-text);
   position: absolute;
   top: 0;
   left: 0;
   width: 0;
   height: 100%;
   color: #01fe87;
   -webkit-text-stroke: 0vw #383d52;
   border-right: 2px solid #01fe87;
   overflow: hidden;
   animation: animate 6s ease-in-out infinite; 
}
@keyframes animate {
   0%, 10%, 100% {
       width: 0;
   }
   60%, 90% {
       width: 100%
   }
}--- */

.title p {

    color: #000;
}


/*------------- another title -------------*/


.souj {
    position: relative;
 }
 .souj h2 {
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 8em;
 }
 .souj h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
 }

 .souj h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
 }
 @keyframes animate {
    0%, 100% {
        clip-path: polygon(0% 42%, 13% 37%, 30% 40%, 39% 49%, 54% 59%, 68% 62%, 82% 61%, 100% 55%, 100% 100%, 0 100%);
    }
    50% {
        clip-path: polygon(0% 52%, 10% 61%, 27% 63%, 41% 59%, 55% 47%, 73% 37%, 89% 37%, 100% 45%, 100% 100%, 0 100%);

    }
 }
 /* ---------------------------- helo ------------------------------*/
.helu {
    position: relative;
    min-height: 15vh;
    background-color: #333;
    color: #fff;
    padding: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1em;
}
/* ---------------------------- introduction ------------------------------*/
.cli {
    position: relative;
    min-height: 20vh;
    background-color: #252839;
    color: #fff;
}

.sections {
    margin-right: auto;
    margin-left: auto;
    transition: 0.5s;
}
.sections.active {
    height: 85vh;
}
.sections ul {
    position: absolute;
    padding-left: auto;
    padding-right: auto;
    display: inline-flex;
    top: calc(50% - 20px);
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.sections ul li {
    position: relative;
    list-style: none;
  
}
.sections ul li button {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    font-size: 20px;
    padding: 9px 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.sections ul li button:hover {
    text-decoration: underline;
    color: rgba(250,150,255, 0.2);
}


.divone, .divtwo, .divthree, .divfour {
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    padding: 25px;
    position: relative;
    border: 1px solid #fff;
    color: #fff;
    height: 550px;
    width: 950px;
    overflow: scroll;
    overflow-x: hidden;

}

.divone ul, .divtwo ul, .divthree ul, .divfour ul {
    position: absolute;
    width: 100%;
    display: inline-block;
}
.divone ul li, .divtwo ul li, .divthree ul li, .divfour ul li {
    list-style: none;

    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.divone ul li p, .divtwo ul li p, .divthree ul li p, .divfour ul li p {
    padding-top: 10px;
    margin-left: 15px;
    padding-bottom: 10px;
    font-size: 1.1em;
}

.divone ul li h3, .divtwo ul li h3, .divthree ul li h3, .divfour ul li h3 {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}
/* ---------------------------- embeds ------------------------------*/
.emb {
    position: relative;
    min-height: 45vh;
    background-color: #333;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 25px;
    display: flex;
    overflow: scroll;
}
.embtitl {
    position: relative;
    min-height: 12vh;
    background-color: #333;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.embtitl h1 {
    padding-top: 55px;
    text-align: center;
    position: relative;
    justify-content: center;
    align-items: center;
}
.embtitl p {
    text-align: center;
    padding: 25px;
}
.emb ul {
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.emb ul li {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.emb ul li .ek {
    height: 500px;
}
.emb ul li .ok {
    height: 500px;
}

/* --------------- scroll bar -----------------------------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


/* ---------------------------- Projects ------------------------------*/
.projtitl {
    position: relative;
    min-height: 5vh;
    background-color: #000;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 50px;
}
.projtitl h1 {
    text-align: center;
}
.projtitl p {
    text-align: center;
    padding: 25px;
}
.proj {
    position: relative;
    min-height: 45vh;
    top: 0px;
    background-color: #000;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 15px;
    display: flex;
    overflow: scroll;
}
.proj ul {
    position: relative;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.proj ul li {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    padding-right: 20px;

}
/*------------- S E C ------------ */
.sec {
    position: relative;
    min-height: 25vh;
    top: 0px;
    background-color: #333;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 25px;

}
/* ------- D I V  C O N T E N T -------*/
